$primaryMenuColor: #2e353d;
$secondaryMenuColor: #23282e;
body {
  background: orange;
  margin: 0px;
  padding: 0px;
}
.container-fluid {
  margin: 0;
  padding: 0;
}
.header {
  padding: 2.5rem 0 2.5rem 0;
  border: 2px solid rgb(216, 142, 3);
  text-align: center;
  h1 {
    color: olive;
  }
}
.nav-side-menu {
  width: 300px;
  height: 100%;
  position: fixed;
  overflow: auto;
  background-color: $primaryMenuColor;
  color: #e1ffff;
  .brand {
    background-color: $secondaryMenuColor;
    display: block;
    text-align: center;
    font-size: 130%;
    line-height: 50px;
  }
  .toggle-btn {
    display: none;
  }
  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 35px;
    cursor: pointer;
    &:not(collapsed) .arrow:before {
      font-family: FontAwesome;
      content: "\f078";
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
      vertical-align: middle;
      float: right;
    }
    .active {
      border-left: 3px solid #d19b3d;
      background-color: #4f5b69;
    }
    .sub-menu li {
      left: 100%;
      background-color: #181c20;
      border: none;
      line-height: 28px;
      border-bottom: 1px solid $secondaryMenuColor;
      margin-left: 0;
      .active,
      .active a {
        color: #d19b3d;
      }
      &:hover {
        background-color: #020203;
      }
      &:before {
        font-family: FontAwesome;
        content: "\f105";
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        vertical-align: middle;
      }
      &:hover ul {
        display: block;
      }
    }
  }
  li {
    padding-left: 0;
    border-left: 3px solid $primaryMenuColor;
    border-bottom: $secondaryMenuColor;
    &:hover {
      border-left: 3px solid #d19b3d;
      background-color: #4f5b69;
      transition: all 1s ease;
    }
  }
  li a {
    text-decoration: none;
    color: #e1ffff;
  }
  li a i {
    padding-left: 10px;
    width: 40px;
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
